* {
  box-sizing: border-box;
}

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.blurred-background {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url('./Assets/cenas/manda-chuvaDiscurso.jpg');
  filter: blur(20px);
  -webkit-filter: blur(20px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.outerContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.container {
  background: rgba(0, 0, 0, 0.8);
  width: 95vw;
  height: 92vh;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.container > p {
  color: white;
  font-size: 2rem;
}
