* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

.input-text {
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.61);
  min-width: 200px; 
  font-size: 3rem;
  color: white;
 text-align: center;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.blurred-background {
  filter: blur(15px);
  -webkit-filter: blur(15px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -30;
}

.outerContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.opacity-zero {
  opacity: 0;
}
.gameContainer {
  background-color: rgba(63, 23, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: absolute;
  transition: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  /* box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.8); */
  display: flex;
  flex-direction: column;
  z-index: 20;
  margin: 0;
  overflow: hidden;
}

.texto-historia {
  color: white;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.game-menu {
  display: flex;
  flex-direction: column;
  transition: ease-in-out 200ms;
}

.game-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 5rem;
  font-weight: 900;
  position: relative;
  animation-iteration-count: infinite;
}

.timeline-container {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.timeline-container > * {
 width: 100%;
 text-align: center;
}
.choices-container {
  height: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 2%;
  margin: 0;
}

.choice-p {
  flex-grow: 1;
  border: 2px solid rgb(255, 255, 0, 0.5);
  padding: 10px;
  font-size: 2rem;
  width: 100%;
  margin: 0;
  color: rgb(255, 255, 0, 0.5);
  text-align: center;
}

.choice-p:hover {
  border-color: yellow;
  color: yellow;
}

.choices-container > a {
  flex-grow: 1;
  align-self: flex-start;
  justify-self: flex-end;
  margin: 20px;
  min-width: 40%;
}

.game-start {
  background: none;
  padding: 10px;
  border: 2px solid yellow;
  color: yellow;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
} 

.hidden {
  display: none;
}

.game-start:hover {
  animation-name: shakeAnim;
}

@keyframes shakeAnim {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}

@keyframes shake {
  12.5% {
    transform: translateX(0) rotate(0deg);
  }
  25% {
    transform: translateX(-1px) rotate(1deg);
  }
  37.5% {
    transform: translateX(2px) rotate(-2deg);
  }
  50% {
    transform: translateX(-3px) rotate(3deg);
  }
  62.5% {
    transform: translateX(3px) rotate(-3deg);
  }
  75% {
    transform: translateX(-2px) rotate(2deg);
  }
  87.5% {
    transform: translateX(1px) rotate(-1deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes shake2 {
  0% {
    transform: translateX(0);
  }
  12.5% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  37.5% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-6px);
  }
  62.5% {
    transform: translateX(6px);
  }
  75% {
    transform: translateX(-4px);
  }
  87.5% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes shakeme {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}

.shaking {
  -webkit-animation-name: shakeme;
  -webkit-animation-duration: 8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
}
